/* General styles for the header */
* {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: #ececec;
  padding: 1rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

nav {
  width: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  color: black;
  background-color: #ececec;
  align-items: center;
}

nav h1 {
  font-size: 1.5rem;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  gap: 1.8rem;
}

nav, nav ul, nav h1, li a {
  color: black;
  background-color: #ececec;
}

li a {
  text-decoration: none;
  font-size: 1rem;
  padding: 0.4rem;
  border-radius: 0.25rem;
  border: 1px solid #aaa0;
}

li a:hover {
  color: #0861c7;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

p a {
  color: #0861c7;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

section {
  max-width: 25rem;
  width: 100%;
  padding: 1.25rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  text-align: center;
}

/* Style form labels and inputs */
.form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

label {
  display: inline-block;
  width: 8rem;
  text-align: left;
  margin-right: 0.6rem;
  font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

.register-button {
  width: 100%;
  padding: 0.6rem;
  margin-top: 1rem;
  background-color: #1d4ed8;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.register-button:hover {
  background-color: #3b82f6;
}

.blue-text {
  color: #0861c7;
}