/* General styles for the header */
* {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: #ececec;
  padding: 1rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

nav {
  width: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  color: black;
  background-color: #ececec;
  align-items: center;
}

nav h1 {
  font-size: 1.5rem;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  gap: 1.8rem;
}

nav, nav ul, nav h1, li a {
  color: black;
  background-color: #ececec;
}

.header1 {
  text-decoration: none;
}

li a {
  text-decoration: none;
  font-size: 1rem;
  padding: 0.4rem;
  border-radius: 0.25rem;
  border: 1px solid #aaa0;
}

li a:hover {
  color: #0861c7;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

p a {
  color: #0861c7;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 5rem;
}

section {
  max-width: 30rem;
  width: 100%;
  padding: 1.25rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  text-align: center;
}

/* Style form labels and inputs */
.form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

label {
  display: inline-block;
  width: 8rem;
  text-align: left;
  margin-right: 0.6rem;
  font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

.form-button {
  width: 100%;
  padding: 0.6rem;
  margin-top: 1rem;
  background-color: #1d4ed8;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.form-button:hover {
  transform: scale(1.05); 
  background-color: #3b82f6;
}

.form-button:active {
  background-color: #3b82f6;
  transform: scale(0.9); 
}

.guest-button {
  width: 100%;
  padding: 0.6rem;
  /* margin-top: 0.2rem; */
  background-color: #59677f;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.guest-button:hover {
  background-color: #6a7fa4;
  transform: scale(1.05); 
}

.guest-button:active {
  background-color: #6a7fa4;
  transform: scale(0.9);
}

.remove-button {
  width: 100%;
  padding: 0.6rem;
  /* margin-top: 0.2rem; */
  background-color: #59677f;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.remove-button:hover {
  background-color: #6a7fa4;
  transform: scale(1.05); 
}

.remove-button:active {
  background-color: #6a7fa4;
  transform: scale(0.9);
}

.blue-text {
  color: #0861c7;
}

/* Styles for my user listing */

table {
  margin: auto;
}

thead {
  background-color: rgb(200, 200, 200);
  /* background-color: rgba(190, 197, 206, 0.286); */

}

tbody {
  background-color: rgb(230, 230, 230);
  /* background-color: rgba(8, 97, 199, 0.1); */

}

td, th {
  text-align: left;
  border-radius: 5px;
  padding: 0.3rem;
  border: 3px solid #0861c700;
}

td button {
  background-color: #d9534f;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

tr:hover td {
  background-color: rgba(8, 97, 199, 0.1);
  border: 3px solid #0861c795;
}

tr:hover td button {
  background-color: #c9302c;
}

tr:hover td button:hover {
  background-color: #a72924;
  transform: scale(1.05); /* Slightly reduce size for a pressed effect */
}

tr:hover td button:active {
  background-color: #a72924;
  transform: scale(0.9); /* Slightly reduce size for a pressed effect */
}

.h2 {
  text-align: center;
}